.outer-container {
    height: 100%;
    padding: 0em 1em 1em 1em
}

.inner-container {
    border: 1px solid black;
    height: 100%;
    display: flex;
}


#component-container {
    border: 1px solid blue;
    width: 20%;

}

#editor-container {
    border: 1px solid red;
    width: 40%;


}

#preview-container {
    border: 1px solid green;
    width: 40%;


}