.outer-container {
    height: 100%;
    padding: 0em 1em 1em 1em
}

.inner-container {
    border: 1px solid black;
    height: calc(100% - 2em);
    display: flex;
}


#component-container {
    border: 1px solid blue;
    width: 20%;

}

#editor-container {
    border: 1px solid red;
    width: 40%;
    padding: 1em
}



#preview-container {
    border: 1px solid green;
    width: 40%;
}


#editor {
    height: 100%;
    width: 100%;
    resize: none;
}

#doc-name-input {

    width: 100%;
    font-size: 2em;
}